<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Employee Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">

		<form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-danger btn-block" name="registration"
				type="Submit">Logout</button>
		</form>

		<div class="panel-group" style="margin-top: 40px">
			<div class="panel panel-primary">
				<div class="panel-heading"></div>
				<div class="panel-body">
				<div th:if="${successFlash}">
					<div class="alert alert-success alert-dismissible">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong th:text="${successFlash}"></strong>
					</div>
				</div>
					<a href="/employee/add" class="btn btn-success" th:text="Add"></a>
					<table class="table table-bordered">
						<tr>
							<td>Employe Name</td>
							<td>Description</td>
							<td></td>
						</tr>
						<tr th:each="row :${list}">
							<td th:text="${row.employeeName}"></td>
							<td th:text="${row.description}"></td>
							<td><a th:href="@{/employee/edit/}+${row.id}" th:text="edit"
								class="btn btn-primary"></a>|<a th:href="@{/employee/delete/}+${row.id}" th:text="delete"
								class="btn btn-danger"></a></td>
						</tr>
					</table>
				</div>

			</div>
		</div>

	</div>
</body>
</html>