<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Upload Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
               
            </div>
            <div class="panel-body">
                <form id="file-upload-form">
                	<div class="form-group">
                		<label>File</label>
                		<input type="file" class="form-control"  th:name="upload" id="file" required="true" />
                	</div>
                	<input type="submit" class="btn btn-primary" value="Save" />
                </form>
            </div>
          
        </div>
    </div>

</div>
<script>
	$(document).ready(function(){
		$('#file-upload-form').on("submit",function(e){
				e.preventDefault();
				console.log(new FormData(this));
				 data = new FormData();
				    data.append('file', $('#file')[0].files[0]);

				    var imgname  =  $('input[type=file]').val();
				     var size  =  $('#file')[0].files[0].size;

				    var ext =  imgname.substr( (imgname.lastIndexOf('.') +1) );
				  console.log(data);
				    $.ajax({
			            url: "/file-upload",
			            type: "POST",
			            data: data,
			            enctype: 'multipart/form-data',
			            processData: false,
			            contentType: false,
			            cache: false,
			            success: function (res) {
			        
			                console.log(res);
			            },
			            error: function (err) {
			                console.error(err);
			            }
			        });
		})
	})
</script>
</body>
</html>